
@import "../../../public/assets/scss/slick.scss";
@import "../../../public/assets/scss/slick-theme.scss";
@import "../../../public/assets/scss/animate.scss";
@import "../../../public/assets/scss/themify.scss";
@import "../../../public/assets/scss/color1.scss";