@import "../public/assets/scss/font-awesome";
@import "../public/assets/scss/bootstrap";
@import "../public/assets/scss/slick.scss";
@import "../public/assets/scss/slick-theme.scss";
@import "../public/assets/scss/animate.scss";
@import "../public/assets/scss/themify.scss";
@import "../public/assets/scss/color4.scss";
